*,
*::before,
*::after{
box-sizing: border-box;
margin: 0;
position: relative;
font-weight: normal;
}
body{
    min-height: 100vh;
    background: linear-gradient(-45deg, #7097a8, #6d97aa, #d3e7ee, #08baeb);
    animation: change 10s ease-in-out infinite;
    position: relative;
    background-size: 400% 400%;
    transition: color 0.5s, background-color 0.5s;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.navbar{
    background: linear-gradient(-45deg, #7097a8, #6d97aa, #d3e7ee, #08baeb);
    animation: change 10s ease-in-out infinite;
}
.movie-cards{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 50px;
    align-items: stretch;
    flex-wrap: wrap;
}
@media (min-width:1600px){
    .movie-cards{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
.success{
    position: fixed;
    top: 100px;
    right: 20px;
    color: $secondary;
    opacity: 0.8;
    border: 2px solid $secondary;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 700;
    z-index: 10;
}
.fail{
    position: fixed;
    top: 100px;
    right: 20px;
    color: #E53935;
    opacity: 0.8;
    border: 2px solid #E53935;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 700;
    z-index: 10;
}
